{% extends 'main.html' %}

{% block content %}
{% load static %}
    <h2>Création du vote</h2>
    
    <div id="block1">
        
        <form method="POST" enctype="multipart/form-data" action="{% url 'create_vote'%}">
        {% csrf_token %}

        <label class="title"> &nbsp;&nbsp; TITRE :</label>
        {{ vote_form.title }}<br><br>


            <label class="title">Choix 1 :</label>
            {{ choice_form.description }}<br><br>
            <div class="form_choice">
                <div class="block_button">
                    <button id="toggle2" type="button" class="button-ghost">+</button>
                </div>
                <div class="block_button">
                    <button id="toggle10" type="button" class="button-ghost">+</button>
                </div>
            </div>


        
            <div id="choicefield2">
                <label class="title">Choix 2 :</label>
                {{ choice_form.description }} <br><br>
            </div> 
            <div class="form_choice">
                <div class="block_button">
                    <button id="toggle2b" type="button" class="button">-</button>
                </div>
                <div class="block_button">
                    <button id="toggle3" type="button" class="button">+</button>
                </div>
            </div>  

        
        {% for i in '3456789'|make_list %}

            <div id="choicefield{{ forloop.counter|add:"+2" }}" class="ghost">
                <label class="title" >Choix {{ forloop.counter|add:"+2" }} :</label>
                {{ choice_form.description }} <br><br>
            </div>
            <div class="form_choice">
                <div class="block_button">
                    <button id="toggle{{ forloop.counter|add:"+2" }}b" 
                    type="button" class="button-ghost">-</button>
                </div>
                <div class="block_button">
                    <button id="toggle{{ forloop.counter|add:"+3" }}" 
                    type="button" class="button-ghost">+</button>
                </div>
            </div>

        {% endfor %}
        <br><br><br>
        <input type="submit" class="button-next" value="Créer le vote"><br><br>
        </form>
    </div>

<script type="text/javascript" src="{% static 'js/hide_show_choices.js' %}"></script>
{% endblock %}
