<html>
<head>
    <title>Rocket Vote</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <link rel="shortcut icon" href="{% static 'img/favicon_roc.ico' %}"/>
</head>

<body>
    <div id="header">
        <br>
        <a href="https://rocket-vote.herokuapp.com">
        <img class="fit-picture" src="{% static 'img/logo.png' %}"
        alt="Logo rocket vote"></a>
    </div>
    <div id="bloc_page" class="p-3 mb-2 bg-gradient-light text-dark">
    {% block content %}
    {% endblock %}
    </div> 
</body>
</html>