body {
    background: rgb(21, 20, 22);
}

#bloc_page {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', sans-serif;
    color: rgb(178, 190, 216);
    width: 480px;
    margin: auto;
    text-align: center;
}

#header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', sans-serif;
    width: 480px;
    margin: auto;
    color: rgb(157, 117, 245);
    text-align: center;
}

.form_choice {
    height: 0px;
}

.block_button {
    display: inline-block;
    
}

.ghost {
    display: none
}

progress {
    background-color: rgb(108, 103, 119);
    color:rgb(157, 117, 245);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(30, 29, 31, 0.87) inset;
}
progress[value] {
    color: rgb(157, 117, 245);
}
progress[value]::-webkit-progress-value {
    background: rgb(157, 117, 245);
}
progress[value]::-moz-progress-bar {
    background: rgb(157, 117, 245);
}
progress[value]::-webkit-progress-value {
    background: rgb(157, 117, 245);
}
progress[value]::-webkit-progress-bar {
    background: rgb(157, 117, 245);
}

#percent {
    position: absolute;   
    padding-left: 65px;
    color: rgb(241, 241, 241);
   }


/* button */

.button, .button-ghost {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background: rgb(157, 117, 245);
    border: none;
    float:right;
}

.button:hover, .button-ghost:hover {
    cursor: pointer;
    background-color: #F89900;
    float:right;
}

.button-ghost, .button-ghost:hover {
    display: none;
}

.buttonazza {
    visibility: hidden;
}

.button-next, .button-next-ghost {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(157, 117, 245);
    border: none;
    cursor: pointer;
}

.button-next:hover, .button-next-ghost:hover {
    cursor: pointer;
    background-color: #F89900;
}

.button-next-ghost, .button-next-ghost:hover {
    display: none;
}


.js-copy {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(157, 117, 245);
    border: none;
}

.js-copy:hover {
    cursor: pointer;
    background-color: #F89900;
}

p span {
    border: 2px solid rgb(157, 117, 245);
    padding: 0.5rem;
    background: rgb(92, 91, 91);
}

.form_votea, .form_voteb, .form_votec {
    border: 3px solid rgb(157, 117, 245);
    padding: 0.2rem;
    background: rgb(176, 174, 182);
}

input:focus{
    outline: 1px solid #F89900;
    border: 2px solid #F89900;
}

.form_votea {
    width: 180px;
}

.form_voteb {
    width: 180px;
}

.form_votec {
    width : 100px;
}

#result{
    width: 450px;
    margin: auto;
    text-align: left;
}

/* radio button */

.rad-label {
    align-items: center;
    text-align: center;
    border-radius: 100px;
    padding: 10px 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: .3s;
}
  
.rad-label:hover {
    background: hsla(0, 0%, 80%, .14);
}
  
.rad-label:focus-within {
    background: rgba(158, 117, 245, 0.363);
}

.rad-label:focus {
    background: rgba(158, 117, 245, 0.363);
}


.rad-input {
    width: 18px;
    height: 18px;

}

.rad-input:focus {
    outline-color: transparent;
  } 


.rad-input:checked:after {
    width: 18px;
    height: 18px;
}

/* details final */

#details{
    display: none;
    text-align: left;
    margin: auto;
    width: 480px;
}

#center-block{
    margin: auto;
    width: 50%;
}

@media only screen and (max-width: 600px) {

    .button, .button-ghost, .button:hover, .button-ghost:hover,
    .button-ghost, .button-ghost:hover, .buttonazza {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        font-size: 220%;       
    }
 
    .button-next, .button-next-ghost, .button-next:hover, 
    .button-next-ghost:hover, .button-next-ghost, .button-next-ghost:hover{
        width: 200px;
        height: 45px;
        border-radius: 25px;
        font-size: 150%;       
    }
    #center-block{
        margin: auto;
        width: 50%;
    }

    p span {
        display: none;
    }

    .js-copy {
        width: 200px;
        height: 45px;
        border-radius: 25px;
        font-size: 150%; 
    }
}